.p-card{
    border-radius: 7px;
}

.wishlist-btn {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.wishlist-btn i {
  color: #555; /* Default color */
  font-size: 18px;
  transition: color 0.3s ease;
}

.wishlist-btn:hover i {
  color: hotpink; /* Heart turns pink on hover */
}
